*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: darkorchid;
}
.container {
  border: 2px solid black;
  background-color: #fff;
  width: 40%;
  min-width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 20px 0;
  padding-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}
.title {
  text-align: center;
  font-family: "Roboto mono", monospace;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.timer-display {
  position: relative;
  width: 92%;
  background: #fff;
  left: 4%;
  font-family: "Roboto mono", monospace;
  color: #8c52ff;
  font-size: 30px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}
.buttons {
  width: 90%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-around;
}
.buttons button {
  width: 120px;
  height: 45px;
  background-color: deeppink;
  color: #fff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.buttons button:nth-last-child(2) {
  background-color: #e35209;
}
.buttons button:nth-last-child(1) {
  background-color: #f7df1e;
}
.buttons button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
#lap-timer {
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 120px;
  height: 45px;
  background-color: rgb(104, 186, 22);
  color: #fff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.lap-times {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  padding: 5px;
}
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  .timer-display {
    font-size: 1.2rem;
    padding: 20px;
  }
  .buttons button {
    width: 48%;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .title {
    font-size: 1.8rem;
  }
  .timer-display {
    font-size: 1.2rem;
    padding: 25px;
  }
  .buttons button {
    width: 48%;
  }
}
